*{
    /*Sirve para que cuando se modifique el tamaño esten es un rango */
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
        font-family: 'BEBAS', sans-serif;
        margin: 0;
    }




h1{font-size: 9vw;; }
h2{font-size:2.7em; }
h3{font-size:2.0em; }
p{font-size:1.5em;
     }

p2{font-size:0.5em;
    font-family: 'Berlin Sans FB',sans-serif; 
    margin: 0;
    padding: 0;

    }
    
button{
    font-size: 1em;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
}
button:hover{
    background-color: rgba(0, 0, 0, 0.672);
}

.container{
    max-width: 1400 px;
    margin: auto;
}
.colortitulo{ 
    font-size:2.7em;
}
.colorcorreo{
    font-family: 'Berlin Sans FB',sans-serif; 
    color: blueviolet;
}
header{
    color: rgb(255, 255, 255);
    background-color: black;
}

header .logo{
    margin: 0px ;
    padding: 25px 25px;
    font-weight: bold;

}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px ;
}

header a {
    padding: 5px ;
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
}

header a:hover {
    
    color: rgba(62, 62, 62, 0.509);
}


#Home{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction:  column;
    height: 90vh;
    color: rgb(255, 255, 255);
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
        
    ) 
    ,url(/Imagenes/Fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

#Home .botones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center ;
    margin: 0;
    padding: 0;

    gap: 10px; 
    margin-top: 10px; 

}

.botones a {
    margin-right: 20px; /* Ajusta el valor según la separación que desees */
}

.botones a:last-child {
    margin-right: 0; /* Elimina el margen del último ícono */
}

#About{
  
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: left;
    flex-direction:  column;
    height: 90vh;
    
    color: rgb(255, 255, 255);
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
        
    ) 
    ,url(/Imagenes/Fondo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}
/* Seccion 2*/
#About .container {
    display: flex;
    justify-content: flex-start; /* Alinea el contenido hacia la izquierda */
    align-items: flex-start; /* Alinea el contenido hacia la parte superior */
    width: 80%;
    margin: 0 auto;
}
    

.content-box {
    color: rgb(255, 255, 255);
    width: 300px; /* Ancho fijo para el recuadro */
    padding: 1em;
    border: 1px solid transparent; /* Borde invisible */
    text-align: justify;
}



.h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.email {
    font-size: 1em;
    margin-bottom: 1em;
    color: #ffffff; /* Cambia el color si es necesario */
}

.description {
    font-size: 1em;
    line-height: 1.5;
    color: #ffffff;
}


/* Seccion 3*/

#Resumen{
    background-color: black;
    color: white;
 

}
#Resumen .container{
    text-align: center;
    padding: 200px 12px;
}

#Resumen p{
    display: none;
}
#Resumen .carta{
    background-position: center;
    background-size: cover;
    padding: auto;
    margin: auto;
    border-radius: 200px;
}

.carta:first-child{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
        
    ) 
    ,url(/Imagenes/Fondo1.jpg);
    

}

.carta:nth-child(2){
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
        
    ) 
    ,url(/Imagenes/Fondo1.jpg);

}
.carta:nth-child(3){
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
        
    ) 
    ,url(/Imagenes/Fondo1.jpg);

}

/*Seccion 4*/

#Portafolio{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction:  column;
    height: 90vh;
    color: rgb(255, 255, 255);
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
        
    ) 
    ,url(/Imagenes/Fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#Portafolio h1{
    font-size: 9vw;
}

footer{
    background-color: rgba(247, 247, 247, 0.5);
}

footer .container{
    
    font-family: 'Berlin Sans FB',sans-serif; 
    display: flex;
    justify-content: center;
    align-items: self-end;
    margin: 0;
    padding: 0;
    height: 50px;
}
/*Esto es para ajustarla cuando sea pantalla completa*/
@media(min-width:720px){
    header {
        position: fixed;
        width: 100%;
    }
    header .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-between ;
    }
    header nav{
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: self-end;
        padding-bottom: 0;
        padding-right:20px ;
    }
    #Home {
        height: 100vh;
    }

    #Resumen .programas{
        display: flex;
        justify-content: center;

    }
    #Resumen p{
        display: block;
    }
    #Resumen .carta {
        padding: 15px;
    }


}
